#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url(images/backgroundClouds.jpg);
    background-size: 100vh;
    background-repeat: no-repeat; */
}

.cityBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightblue;
    border-style: solid;
    border-color: black;
    padding: 1vw;
    width: 12vw;
}

#displayCityName, #displayDate1, #displayDate2 {
    font-size: 2vw;
    font-weight: bold;
}

#displayCondition, #displayCondition1, #displayCondition2 {
    font-style: oblique;
}

#futureWeather {
    display: flex;
}


